/* Estilo del encabezado (header) */
.cls_nav_header_index {
    width: 99%;
    border: 1px solid none;
    margin: 5px;
    background-color: #F5F5F5;
}

.cls_input_search_header {
    width: 500px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

/* Estilos para los elementos del menú */
.item {
    display: inline-block;
    margin: 10px;
    border: 1px solid none;
    padding: 10px;
}


/* Estilo para el menú principal que se despliega primero en la línea */
.cls_menu_header_index {
    width: 5%;
    margin-right: 0;
}

/* Estilo para el logotipo del encabezado */
.cls_logo_header_index {
    width: 15%;
    overflow: hidden;
}

.cls_logo_header_index a {
    text-decoration: none;
}

.cls_form_busquedaGral_header {
    text-align: center;
}

/* Estilos para las imágenes mini dentro del segundo div */
.cls_img_mini {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Estilo para la sección de búsqueda en el encabezado */
.cls_search_header_index {
    width: 60%;
}

/* Estilo para la sección de iniciar sesión en el encabezado */
.cls_iniciar_sesion__header_index {
    width: 14%;
    text-align: right;
    /* Alinea el contenido a la derecha */
    padding: 5px;
    /* Espacio interno */
    margin: 0;
    /* Elimina el margen para asegurar la alineación a la derecha */
}


.cls_cuerpo_index {
    width: 99%;
    height: 620px;
    border: 1px solid none;
    margin: 5px;
    padding: 5px;
    display: flex;
    background-color: #FAFAFA;
    
}
.cls_menu_categorias_index{
    width: 10%;
    flex-direction: column;
    border: 1px solid green;
    height: 600px;
    margin: 5px;

}

.cls_section1_cuerpo_index {
    

    margin: 5px;
    height: 600px;
    border: 1px solid none;
    display: none;
    flex-direction: column;
    /* Alinea los elementos verticalmente */
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Agregar sombra */
    border-radius: 5px;
    background-color: #F2F2F2;

}

.cls_ul_menu_categorias_index{
    padding: 0;
    list-style-type: none;
}
.cls_li_menu_categorias_index{
    margin-left: 1px;
}
.cls_section1_cuerpo_index:hover {
    transform: scale(1.1);
    /* Escala la imagen al 110% cuando se pasa el mouse sobre ella */

}

.cls_section2_cuerpo_index {
    width: 100%;
    margin: 5px;
    height: 600px;
    border: 1px solid none;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 3px;
}

.cls_cuerpo {
    display: inline-block;
}

.cls_form_filtro {
    height: 80%;
    width: 97%;
    border: 1px solid none;
    margin: 25px 5px;
    text-align: center;
    padding: 5px;

}

label {
    display: block;
    padding: 2%;
    text-align: left;
    margin-left: 14%;

}

.cls_inputs_precios_filtro {

    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}

.cls_input1_precios_filtro {
    width: 48%;
    display: inline-block;
}

.cls_input2_precios_filtro {
    width: 48%;
    display: inline-block;
}

ul {
    list-style-type: none;
}

.cls_form_login{
    border: 1px solid none;
    width: 30%;
    margin-top: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #F2F2F2;

}
.cls_h5_title_login{
    text-align: center;
    margin:2%;
}
.cls_div_cuerpo_login{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F5F5F5;
    height: 740px;

}
.cls_div_hipervinculos_login{
    display: flex;

}
.cls_a_hipervinculos_login{
    display: inline-block;
    margin-left: 16%;
    margin-bottom: 2%;


}
.cls_input_login{
    width: 400px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-left: 8%;
    
    
}
.cls_label_login{
    margin-left: 8%;
}
.cls_card_producto_cuerpo{
    border: 1px solid none;
    height: 300px;
    width: 32%; /* Ancho fijo para 6 elementos */
    margin: 2px;
    padding: 5px;
    align-items: center;
    justify-content: center;

    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex-direction: column;
    display: inline-block;
    overflow: hidden;
    background-color: #F2F2F2;

}

#id_card_producto_cuerpo:hover {
    transform: scale(1.1);
}

.cls_img_principal_card {
    width: 90%;
    height: 150px;
    margin: 5px;
    border: 5px solid #333;
    /* Agregar un borde alrededor de la imagen */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.cls_span_precio_card_index {
    margin: 10px;
}

span {
    display: block;
}

.cls_footer_index {
    width: 99%;
    border: 1px solid none;
    height: 300px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    /* Añadir esto para que las secciones se envuelvan si no caben en una fila */
    background-color: #F5F5F5;
}

.cls_div_section1_foot_index,
.cls_div_section2_foot_index,
.cls_div_section3_foot_index {
    width: calc(33% - 18px);
    /* Ajustar el ancho para acomodar el margen */
    display: inline-block;
    margin: 6px;
    height: 200px;
    border: 1px solid none;
    text-align: center;
    flex-direction: column;
}



.cls_div_section4_foot_index {
    width: 98%;
    margin: 6px;
    display: block;
    border: 1px solid none;
    height: 70px;
    text-align: center;

}

a {
    text-decoration: none;
    color: black;
}

.cls_span_titulo_card_index {
    margin-top: 8px;
    white-space: nowrap; /* Evitar división de texto en líneas */
    overflow: hidden; /* Ocultar el contenido que se desborda */
    text-overflow: ellipsis; /* Opcional: Agregar puntos suspensivos (...) si el texto es demasiado largo para ajustarse */
}

.cls_icon_redes_footer {
    text-align: center;
    margin-top: 75px;
    padding: 5px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.cls_img_footer {
    display: inline-block;
    margin-top: 10px;
    flex-direction: column;
}

.cls_span_copyright {
    display: inline-block;
    margin-top: 15px;

}

.cls_ul_mi_cuenta_footer {
    margin: 50px;
}

.cls_ul_servicio_al_cliente_foot {
    margin-top: 15px;
}

.cls_li_categorias_filtro {
    text-align: left;
}

#id_select_marcas_filtro,
#id_name_product_filtro_idx {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}

.cls_div_categorias {
    border: 1px solid none;
    width: 65%;
    height: 20%;
    margin-left: 15%;
    overflow-y: auto;
    /* Agregamos un scroll vertical si el contenido se desborda */
    max-height: 300px;
    
    /* Establecemos una altura máxima para el scroll, ajusta según tus necesidades */
}
.cls_div_categorias2{
    display: none;
    width: 20%;
    height: 600px;
    margin: 5px;
    border: 1px solid none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #F2F2F2;
    overflow-y: auto;
}

/* Personalización del scroll en hover */
.cls_div_categorias2::-webkit-scrollbar {
    width: 12px; /* Ancho del scroll */
}

.cls_div_categorias2::-webkit-scrollbar-thumb {
    background-color: none; /* Color de fondo del scroll thumb (barra deslizante) */
    border-radius: 6px; /* Borde redondeado del scroll thumb */
}

.cls_div_categorias2::-webkit-scrollbar-thumb:hover {
    background-color: none; /* Cambio de color en hover */
}


#id_btn_subcategorias_index, #id_btn_subcategorias2_index{
    display: none;
}
.cls_div_categorias2:hover{
    transform: scale(1.1);
    /* Escala la imagen al 110% cuando se pasa el mouse sobre ella */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.cls_btn_forms {
    background-color: #007bff;
    /* Azul oscuro */
    color: #fff;
    /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    /* Agregar sombra */
    transition: box-shadow 0.3s ease;
    
}
.cls_btn_menu{
    background-color: #F2F2F2;
    text-align: left;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* Agregar sombra */
    transition: box-shadow 0.3s ease;
    margin: 2px;
    width: 90%;
    height: 50px;
    white-space: nowrap; /* Evitar división de texto en líneas */
    overflow: hidden;
    text-overflow: ellipsis; /* Opcional: Agregar puntos suspensivos (...) si el texto es demasiado largo para ajustarse */

}
.cls_btn_menu:hover{
    background-color: #007bff; 
    color: white;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}
.cls_title_logo:hover{
    background-color: #007bff; 
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 20px;
}
#id_btn_acceder_login{
    display: block;
    text-align: center;
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 4%;
  
}

.cls_btn_forms:hover {
    transform: scale(1.1);
    /* Escala la imagen al 110% cuando se pasa el mouse sobre ella */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    /* Cambiar la sombra al pasar el mouse */

}

.cls_img_principal_card:hover {
    transform: scale(1.1);
    /* Escala la imagen al 110% cuando se pasa el mouse sobre ella */
}



.cls_modal_product_content {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.cls_a_iniciar_sesion{
    border: none;
    padding: 4%;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.cls_a_iniciar_sesion:hover{
    color: #fff;
}

.cls_menu_categorias{
    margin-left: 2%;
    border: 1px solid orange;
    width: 10%;
    height: 100%;
    background-color: #333;

}

.body_cambios_devoluciones{
    margin: 5px 50px;
    text-align: justify;
}
#sec1_cambios_devoluciones{
    width: 40%;
    display: flex;
    
}
.Politicas{
    width: 55%;
}